@page "/Donations/Details/{DonationId:int}"
@using NonProfitLibrary
@using Services
@inject DonationsService donationsService
@inject NavigationManager navigationManager

<h1>Donation Details</h1>

<hr>

@if (donation == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <dl class="row">
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@donation.Date.ToShortDateString()</dd>

            <dt class="col-sm-2">Amount</dt>
            <dd class="col-sm-10">@donation.Amount.ToString("C")</dd>

            <dt class="col-sm-2">Notes</dt>
            <dd class="col-sm-10">@donation.Notes</dd>

            <dt class="col-sm-2">Created</dt>
            <dd class="col-sm-10">@donation.Created.ToShortDateString()</dd>

            <dt class="col-sm-2">Modified</dt>
            <dd class="col-sm-10">@donation.Modified.ToShortDateString()</dd>

            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@donation.CreatedBy</dd>

            <dt class="col-sm-2">ModifiedBy</dt>
            <dd class="col-sm-10">@donation.ModifiedBy</dd>

            <dt class="col-sm-2">Account</dt>
            <dd class="col-sm-10">@donation?.Account?.Email</dd>

            <dt class="col-sm-2">Transaction Type</dt>
            <dd class="col-sm-10">@donation?.TransactionType?.Name</dd>

            <dt class="col-sm-2">Payment Method</dt>
            <dd class="col-sm-10">@donation?.PaymentMethod?.Name</dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-warning" href="/Donations/Edit/@donation!.TransId">Edit</a>
        <a class="btn btn-secondary" href="/Donations/Index">Back to List</a>
    </div>
}

@code {
    private NonProfitLibrary.Donations? donation;
    [Parameter] public int DonationId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        donation = await donationsService.GetDonationByIdAsync(DonationId);
    }
}
